* {
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0;
}

header {
    width: 100%;
    height: calc(100vw * .47);
    max-height: 100vh;
}

.video-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}


.video-container video {
    position: fixed;
    width: 100%;
}

.filter {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.4);
}

.title {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    font-size: 80px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    opacity: 0;
    animation: slide-down-fade-in 1.5s 1s forwards;
}

section.parallax {
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

section:nth-of-type(1) {
    background-image: url('img/corvette blue.jpg');
}

section:nth-of-type(3) {
    background-image: url('img/corvette yellow.jpg');
}

section:nth-of-type(5) {
    background-image: url('img/zl1 black.jpg');
}

section:nth-of-type(7) {
    background-image: url('img/zl1 red camaro.jpg');
}

section.parallax h1 {
    color: #fff;
    font-size: 80px;
    text-align: center;
    margin: 0;
}

section.content {
    min-height: 50vh;
    width: 100%;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

section.content .container {
max-width: 1200px;
margin: auto;
padding: 20px;
background-color: #eee;
border-radius: 15px;

}

section.content h2 {
    margin-top: 0;
    font-size: 50px;
    text-align: center;
}


section.content p {
    margin-bottom: 0;
    font-size: 25px;
}

.icon-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}


.icon-block img {
    width: 150px;
    margin: 30px;
    opacity: 0;

}

.icon-block img.visible {
    animation: zoom-in-fade-in 1s forwards;
}
